@import "tailwindcss";

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Sora', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

@keyframes slideIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animated-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: white;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.animated-line:hover::after {
  transform: scaleX(1);
}