<nav class="bg-white/10 backdrop-blur-2xl fixed w-96 top-4 left-1/2 -translate-x-1/2 z-50 p-4 rounded-full border border-[1px] border-white/20">
    <ul class="flex justify-center items-center gap-8 list-none m-0 p-0 text-white text-md font-medium">
        <li><a class="relative inline-block animated-line" href="/">Home</a></li>
        <li><a class="relative inline-block animated-line" href="#about">About</a></li>
        <li><a class="relative inline-block animated-line" href="#projects">Projects</a></li>
        <li><a class="relative inline-block animated-line" href="#contact">Contact</a></li>
    </ul>
</nav>